@keyframes goUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.page
{
    animation: goUp 1s ease-out;
}
body
{
    background-image: url(Background.jpg);
    background-size: cover;
}
header
{
    display: flex;
}
.logo img
{
    width: 200px;
    height: 190px;
    border-radius: 50%;
}
.choices
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.choices h2
{
    margin: 0;
    color: white;
}
.sushis
{
    display: flex;

}
.info h1
{
    font-style: italic;
    padding-top: 30px;
    margin-left: 150px;
    color: white;
}
.sushis img
{
    padding-top: 60px;
}
.info p
{
    font-size: larger;
    color:white;
}
.info button
{
    padding: 15px 60px;
    border-radius: 30px;
    color: white;
    background-color: rgb(238, 59, 5);
}
button:hover
{
    background-color: rgb(243, 198, 0);
}
.information h2
{
    color: white;
}