@keyframes goUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.page
{
    animation: goUp 1s ease-out;
}
body
{
    background-image: url(Background.jpg);
    background-size: cover;
}
header
{
    display: flex;
}
.logo img
{
    width: 200px;
    height: 190px;
    border-radius: 50%;
}
.choices
{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.choices h2
{
    margin: 0;
    color: white;
}
#header 
{
    font-style: italic;
    color: white;
    padding-left: 30px;
}
.inputs 
{
    
    gap: 30px;
    display: flex;
    flex-direction: column;


}
.inputs input
{
   margin-left: 30px;
   padding: 10px;
   width: 500px;
   border: 2px solid transparent;
   border-radius: 12px;
   box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
button
{
    margin-left: 30px;
    margin-top: 30px;

    padding: 15px 60px;
    border-radius: 30px;
    color: white;
    background-color: rgb(238, 59, 5);
}
button:hover
{
    background-color: rgb(243, 198, 0);
}
footer
{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
}
.picture
{
    position: absolute;
    right: 190px;
    top: 250px;
}
.picture img
{
    width: 700px;
}